/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#things-view {
  height: 100%;
  overflow-x: hidden;
}

#things {
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  position: absolute;
  padding: 1rem 9.6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  width: 100%;
  min-width: 340px;
  box-sizing: border-box;
}

#add-button {
  bottom: 2rem;
  right: 2rem;
  background-image: url('../images/add.png');
}
